/* Account */
#accountInfo {
    
}

#accountInfoTitle {
    text-align: center;
    padding: 1%;
    border-bottom: 6px solid black;
}

.accountInfoData {
    margin-top: 2%;
    padding: .75%;
}

/* Deposits */
#depositCont {
    margin-top: 2%;
    padding: 2%;
}

#nextStepBtns {
    display: flex;
    justify-content: space-between;
}

#depositDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}