/* Variables */
:root {
--margin-top: 3%;
--border-style-thick: 6px solid black;
--border-style-thin: 3px solid black;
}

/* Personal */
#personalDrop {
    margin-top: var(--margin-top);
}

#personalInfo {
    margin-top: var(--margin-top);
    padding: 4% 0 0 0;
}

#clientName {
    padding: 1%;
    border-bottom: var(--border-style-thick);
}

#info {
    margin-top: var(--margin-top);
    padding: 2%;
    border-top: var(--border-style-thin);
}

/* Account */
#clientAcccounts {
    padding: 1%;
    border-bottom: var(--border-style-thick);
}

#account {
    margin-top: var(--margin-top);
}

#accountDrop {
    margin-top: var(--margin-top);
    display: flex;
    justify-content: space-around;
}

#balance {
    margin-top: var(--margin-top);
    padding: 3%;
    border-top: var(--border-style-thin);
}
