/* Variables */
:root {
--margin-top: 3%;
--border-style-thick: 6px solid black;
--border-style-thin: 3px solid black;
}

/* Personal */
#personalDrop {
    margin-top: var(--margin-top);
}

#personalInfo {
    margin-top: var(--margin-top);
    padding: 4% 0 0 0;
    align-self: center;
}

#personalInfoTitle {
    text-align: center;
}

.personalData {
    padding-bottom: 2%;
}

#clientName {
    padding: 1%;
    border-bottom: var(--border-style-thick);
}

#info {
    margin-top: var(--margin-top);
    padding: 2%;
    border-top: var(--border-style-thin);
}

/* Account */
#clientAcccounts {
    padding: 1%;
    border-bottom: var(--border-style-thick);
}

#account {
    margin-top: var(--margin-top);
    text-align: center;
    font-weight: bolder;
    font-size: xxx-large;
}

#accountDrop {
    margin-top: var(--margin-top);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12%;
}

#balance {
    margin-top: var(--margin-top);
    padding: 3%;
    border-top: var(--border-style-thin);
}
