#personalDrop {
    margin-top: 2%;
}

#personalInfo {
    margin-top: 3%;
}

#clientName {
    padding: 1%;
    border-bottom: 6px solid black;
}

#info {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 3%;
}

#accountDrop {
    margin-top: 2%;
}

#accountInfo {
    margin-top: 3%;
}

#personalCol {
    outline: 2px solid red;
}

#accountCol {
    outline: 2px solid blue;
}